@font-face {
	font-family: Ubuntu;
	src: url(Ubuntu.ttf);
}
@font-face {
	font-family: Quicksand;
	src: url(Quicksand-Regular.ttf);
}
body,html {
	width: 100%;
	height: 100%;
}
body {
	zoom: 1;
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font-family: 'Quicksand', sans-serif;
	color: rgb(78, 87, 104);
	margin: 0;
	min-width: 320px;
	background-color: rgb(231, 255, 240);
	background-size: 100% auto;
}
div {
	display: block;
}
#boxcontent {
	display: flex;
	flex-flow: column;
	height: 100vh;
}
#header {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 auto;
}
#header>ul,ul.centered {
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	list-style: none;
}
img.headerimg {
	margin: auto;
	padding-top: 1em;
}
img.skillLogo {
	float: right;
}
#footer {
	height: 2rem;
	flex: 0 1 40px;
}
#footer>p {
	padding: 0 2%;
}
.blacktext {
	color: #000;
}
a.button {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	fill: #fff;
	color: #fff;
	background-color: rgb(186, 53, 253);
	border-radius: 30px 30px 30px 30px;
	padding: 17px 42px 17px 40px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
a.button:hover,a.button:focus {
	color: #fff;
	background-color: rgba(206, 114, 253, .59);
}
#page {
	width: 50%;
	margin: auto;
	flex: 1 1 auto;
}
li.headerlink {
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.flextext {
	display: flex;
}
a {
	color: rgba(188, 119, 0, 1);
	text-decoration: none;
}
a[aria-current],a.active {
	color: rgb(0, 0, 0)!important;
}
a:hover {
	color: rgba(222, 141, 0, 1);
	text-decoration: none;
}
#page>h1,#page>h2 {
	padding: 0 2%;
}
#page>p {
	padding: 0 2%;
}
h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-left: 0;
	font-weight: bold;
}
h1,h2,h3,h4,h5,h6,p {
	margin-bottom: 10px;
}
p {
	font-size: 1em;
	margin-top: 5px;
}
h1 {
	font-size: 1.8em;
	margin-bottom: 20px;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1.0em;
}
.centered {
	text-align: center;
}
hr {
	border-top: 1px dashed rgb(226, 226, 226)!important;
	border-bottom: 0px;
}
::selection {
	color: #ff93fb;
	background-color: #000;
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(207px, 100%), 0));
	justify-content: center;
	gap: 2.3vw;
}
table {
	float: left;
	margin-left: 9vw;
	border-collapse: collapse;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
}
h2.tb {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	width: 200px;
	font-weight: bold;
	color: #fff;
}
h3.tb {
	font-weight: normal;
	color: #fff;
	margin: 0;
	padding: 0 1%;
	text-align: center
}
td,.td {
	width: 200px;
	height: 200px;
	padding: 0;
	border-radius: 5px;
	background: rgb(96 195 195);
	box-shadow: 7px 0 rgba(56, 56, 56, .35);
}
.hidden {
	width: 200px;
	height: 200px;
	display: block;
	text-indent: -9999px;
	position: absolute;
}
.caption {
	width: auto;
	opacity: 1;
	overflow: hidden;
	transition: all .6s ease;
	border-radius: 5px;
	background: rgba(56, 56, 56, .8);
}
.caption>h3 {
	background: rgba(20, 20, 20, .8);
}
.td:hover {
	box-shadow: 7px 0 rgba(235, 13, 13, .35);
}
.td:hover .caption {
	background: rgba(60, 60, 60, 1);
}
.hgap {
	width: 2.3vw;
}
.vgap {
	height: 2.3vw;
}
